@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Raleway:wght@500;700;800&display=swap');
@import "tailwindcss";

:root {
  --color-accent: #C8DA47;
  --color-accent-light-1: #D2E06C;
  --color-accent-light-2: #DEE790;
  --color-accent-light-3: #E8EFB5;
  --color-accent-light-4: #F3F7DA;
  --color-primary: #03291F;
  --color-secondary: #C7DA46;
  --color-text: #1D1E1D;
  --color-background: #FAF8F6;
  --color-primary-dark: #03291F;
  --color-primary-medium-1: #1E3E35;
  --color-primary-medium-2: #455E57;
  --color-primary-light-1: #829490;
  --color-primary-light-2: #CED5D2;
  --color-gray-light-1: #D3D4D3;
  --color-gray-light-2: #FAF8F6;
  --color-gray-light-3: #E9E6E4;
  --color-gray-light-4: #CFCBCA;
  --color-gray-light-5: #C2BFBD;
  --color-gray-light-6: #ACA9A7;
  --color-gray-dark-1: #393E3A;
  --color-gray-dark-2: #5B5E5B;
  --color-gray-medium: #919392;
  --color-accent-transparent: #F3F7DA38;
  --color-primary-transparent: #455E570A;
  --font-sans: Raleway, sans-serif;
  --font-heading: Raleway, sans-serif;
}

body {
  font-family: var(--font-sans);
  font-weight: 500;
  color: var(--color-text);
  background-color: var(--color-background);
}

input[type="checkbox"] {
  accent-color: var(--color-primary-medium-1);
}

input[type="checkbox"]:checked {
  background-color: var(--color-primary-medium-1);
  border-color: var(--color-primary-medium-1);
}

input[type="checkbox"]:focus {
  outline-color: var(--color-primary-medium-1);
  box-shadow: 0 0 0 3px var(--color-primary-transparent);
}
